page-booking {
	.monthview-container {
		height: 50%;
	}
	.event-detail-container {
		display: none;
	}

	[_nghost-c0] > div[_ngcontent-c0] {
    height: 100%;
	}

	[_nghost-c1] > div[_ngcontent-c1] {
    height: 100%;
	}

	[_nghost-c2] > div[_ngcontent-c2] {
    height: 100%;
	}

	[_nghost-c3] > div[_ngcontent-c3] {
    height: 100%;
	}

	[_nghost-c4] > div[_ngcontent-c3] {
    height: 100%;
	}

	ion-slides {
		height: 50%;
	}

	.monthview-selected[_ngcontent-c1] {
	  background-color: map-get($colors, primary);
	  color: white;
	}

	.monthview-selected[_ngcontent-c2] {
	  background-color: map-get($colors, primary);
	  color: white;
	}

	.monthview-selected[_ngcontent-c3] {
	  background-color: map-get($colors, primary);
	  color: white;
	}

	.monthview-selected[_ngcontent-c4] {
	  background-color: map-get($colors, primary);
	  color: white;
	}

	#slot {
		width: 33.3%;
		float: left;
		padding-left: 3%;
		border-style: solid;
		border-width: 0.5px;
		border-color: black;
		min-height: 0;
		height: 4.9vh;
	}

	#slot p {
		font-size: 1.2rem;
	}

	ion-checkbox {
		display: block;
		transform: scale(.8);
		float: right;
		top: 18%;
		right: 5%;
	}

	ion-label {
		display: inline-block;
		font-size: 9px;
	}

	.slots {
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		top: -43vh;
	}

	.slotcontainer {
		display: flex;
	}

	table thead {
		font-size: 12px;
	}

	.time {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
	}

	.back-button.show-back-button {
    display: none;
	}

	.table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
    line-height: 2.5vh;
	}

	.table-bordered[_ngcontent-c2] > thead[_ngcontent-c2] > tr[_ngcontent-c2] > th[_ngcontent-c2], .table-bordered[_ngcontent-c2] > tbody[_ngcontent-c2] > tr[_ngcontent-c2] > th[_ngcontent-c2], .table-bordered[_ngcontent-c2] > tfoot[_ngcontent-c2] > tr[_ngcontent-c2] > th[_ngcontent-c2], .table-bordered[_ngcontent-c2] > thead[_ngcontent-c2] > tr[_ngcontent-c2] > td[_ngcontent-c2], .table-bordered[_ngcontent-c2] > tbody[_ngcontent-c2] > tr[_ngcontent-c2] > td[_ngcontent-c2], .table-bordered[_ngcontent-c2] > tfoot[_ngcontent-c2] > tr[_ngcontent-c2] > td[_ngcontent-c2] {
    line-height: 2.5vh;
	}

	.table-bordered[_ngcontent-c3] > thead[_ngcontent-c3] > tr[_ngcontent-c3] > th[_ngcontent-c3], .table-bordered[_ngcontent-c3] > tbody[_ngcontent-c3] > tr[_ngcontent-c3] > th[_ngcontent-c3], .table-bordered[_ngcontent-c3] > tfoot[_ngcontent-c3] > tr[_ngcontent-c3] > th[_ngcontent-c3], .table-bordered[_ngcontent-c3] > thead[_ngcontent-c3] > tr[_ngcontent-c3] > td[_ngcontent-c3], .table-bordered[_ngcontent-c3] > tbody[_ngcontent-c3] > tr[_ngcontent-c3] > td[_ngcontent-c3], .table-bordered[_ngcontent-c3] > tfoot[_ngcontent-c3] > tr[_ngcontent-c3] > td[_ngcontent-c3] {
    line-height: 2.5vh;
	}

	.table-bordered[_ngcontent-c4] > thead[_ngcontent-c4] > tr[_ngcontent-c4] > th[_ngcontent-c4], .table-bordered[_ngcontent-c4] > tbody[_ngcontent-c4] > tr[_ngcontent-c4] > th[_ngcontent-c4], .table-bordered[_ngcontent-c4] > tfoot[_ngcontent-c4] > tr[_ngcontent-c4] > th[_ngcontent-c4], .table-bordered[_ngcontent-c4] > thead[_ngcontent-c4] > tr[_ngcontent-c4] > td[_ngcontent-c4], .table-bordered[_ngcontent-c4] > tbody[_ngcontent-c4] > tr[_ngcontent-c4] > td[_ngcontent-c4], .table-bordered[_ngcontent-c4] > tfoot[_ngcontent-c4] > tr[_ngcontent-c4] > td[_ngcontent-c4] {
    line-height: 2.5vh;
	}

	.swiper-slide {
		height: 95%;
	}

	.save {
		position: relative;
		height: 24px;
		top: -2vh;
	}

	#savebutton {
		text-align: center;
		width: 100%;
		top: -40vh;
		position: relative;
	}
}
