page-settings {
	.backk{
		font-size: 36px;
		float: left;
		margin-left: 5px;
	}

	.back-button.show-back-button {
	    display: none;
	}

	ion-content {
		top: 0;
		ion-input {
			width:100%;
		  border: 0;
		  outline: 0;
		  background: white;
		  display: inline-block;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 3px;
		  color: black;
		  font-size: 14px;
		}

		.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		    border-bottom-color: #dedede;
		    -webkit-box-shadow: none;
		    box-shadow: none
		}

		/*ion-item .item-inner{
		 border-bottom:1px solid #eee; // or any thing
		 box-shadow: none;
		}*/

		input {
			text-align: right;
		}

		.label-md {
			margin: 0
		}

		ion-label {
			width: 33.3%;
			display: inline-block;
	    vertical-align: bottom;
	    color: gray;
	    font-size: 14px;
	    padding-left: 10px;
		}

		.label-md {
		  margin: 11px 8px 11px 0;
		}

		.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
		    border-bottom: 0;
		    padding-top: 8px;
		}

		.text-input-md {
		    margin: 8px 8px;
		    padding: 0;
		    width: calc(100% - 8px - 8px);
		}

		.sect {
			width: 100%;
		}

	}

	.imagesquare {
		max-width: 100%;
		height: auto;
		z-index: 1;
		border-style: solid;
		border-width: 2px;
		border-color: white;
	}

	ion-textarea {
		display: inline-block;
		width: 100%;
		font-size: 14px;
	}

	ion-header { 
		height: 20%;

		ion-navbar {
			height: 78%;
			div.toolbar-background {
				background-color: map-get($colors, primary);
	    	background-repeat: no-repeat;
				background-size: cover;

			}
		}

		.toolbar .toolbar-background {

			border-color: white;
		}
	}

	.save {
		position: relative;
		height: 44px;
	}

	#savebutton {
		text-align: center;
		width: 100%;
		top: 15px;
		position: relative;
	}

	
}
