page-sign-in {
	ion-content{
    background-image: url('../img/purpleHairBG.png');
    background-repeat: no-repeat;
		background-size:cover;

		//$text-input-placeholder-color:(#FFF);

		.logo {
			position: absolute;
			font-size: 11vw;
			text-align: center;
			top: 39%;
			left: 7%;
			color: #e6c926;
			-webkit-text-stroke-width: 2px;
   		-webkit-text-stroke-color: black;
		}

		@mixin placeholder {
		    &.placeholder { @content; }
		    &:-moz-placeholder { @content; }
		    &::-moz-placeholder { @content; }
		    &:-ms-input-placeholder { @content; }
		    &::-webkit-input-placeholder { @content; }
		}

		ion-input {
			position: relative;
			width:220px;
		  border: 0;
		  outline: 0;
		  background: transparent;
		  border-bottom: 1px solid white;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  color: white;
		}

		.inputone {
			margin-top: 84%;
		}

		.circle {
		  background: transparent;
    	width: 25px;
    	height: 25px;
    	border-radius: 50%;
    	border-color: white;
    	border-width: 2px;
    	border-style: solid;
		}

		.circle:active, .circle:focus {
			background: map-get($colors, primary);
		}

		.circone {
			display: inline-block;
			position: absolute;
			top: 76%;
			left: 30%;
		}

		.circtwo {
			display: inline-block;
			position: absolute;
			top: 76%;
			right: 30%;
		}

		.hairstylist {
			position: absolute;
			top: 68%;
			color: #e6c926;
			left: 17%;
		}

		.user {
			position: absolute;
			top: 68%;
			color: #e6c926;
			right: 26.5%;
		}

		button {
			position: relative;
			/*top: 60%;*/
			width: 82%;
			left: -4%;
		}

		.signincontainer {
			position: absolute;
			top: 82%;
			width: 100%;
			text-align: center;
		}

		p {
			
			color: #fff;
		}

		.account {
			text-align: center;
			width: 92%;
			position: absolute;
			top: 92%;
		}

		.moveleft {
			left: 5px;
		}

		.moveleftuser {
			left: 2px;
		}
	}
}
