<ion-header> <!--[@slideDown]="downState"-->
  <div (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">
  <ion-toolbar #clickme class="itemadspace" [@slideDown]="downState" no-padding> <!--[@slideDown]="downState"-->
    <!--<ion-item class="ad" no-padding no-lines>-->
    <div class="stylistview">
      <button class="stylistviewbutton" (tap)='switchView()' ion-button color="secondary">User View</button>
    </div>

    <!--<ion-item>
      <ion-slides slidesPerView="3" #slides (ionSlideDidChange)='whatIsIndex2()'>
        <ion-slide *ngFor="let ad of ads; let i = index" class="adcontainer">
          <img src="{{ad}}" class="adimage" #adimage>
        </ion-slide>
      </ion-slides>

      <ion-slides slidesPerView="1" #slides2 class="slides2" (ionSlideDidChange)='whatIsIndex1()'>
        <ion-slide *ngFor="let ad of ads; let i = index" class="adcontainer">
          <img src="{{ad}}" class="adimage" #adimage>
        </ion-slide>
      </ion-slides>
    </ion-item>-->

    <swiper #swiper [config]="config" [(index)]="swiperIndex" (indexChange)="indexChange()">
      <div *ngFor="let ad of ads; let i = index" class="adcontainer">
        <img src="{{ad}}" class="adimage" #adimage>
      </div>
    </swiper>
      
    <!--</ion-item>-->
    <div (tap)="presentActionSheet()" class='pluscontainer' [@plusSlide]="downState">
      <p>BUY</p><br><p>AD</p>
    </div>
  </ion-toolbar>

  

  <div class="clickme" (tap)="toolClicked($event)">
    <ion-navbar  color="black" [@toolSlide]="toolbarState" id="iontoolbar"> <!--[@toolSlide]="toolbarState"-->
      <ion-icon class='custom-icon' name="play"></ion-icon>
      <button class="all toolbarstyle" #allF ion-button color="black" (tap)="all()">All</button>
      <button class="classes toolbarstyle" #classesFeed ion-button color="black" (tap)="classes()">Classes</button>
      <button class="products toolbarstyle" #productsFeed ion-button color="black" (tap)="products()">Products</button>
    </ion-navbar>
  </div>
  </div>
</ion-header>

<ion-content [@moveList]='moveState' no-padding> <!--[@moveList]='moveState'-->
<div (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <div class ='contentone' [@moveList]='moveState' #contentone>
   <ion-list no-padding>
     <ion-item class="changepadding" *ngFor="let j of items ; let i = index" id='{{i}}' #feedstyle text-wrap>
      <div class="flex" (tap)='expandItem(i)' #flex>
        <div class="nonzoomimage">
          <img class="imagepost" src="{{j.url}}">
        </div>
        <div class="descholder">
          <div class='description'>{{j.title}}</div>
          <div class='link'>{{j.date}}</div>
        </div>
        <div class="priceholder">
          <div class='description'>${{j.price}}</div>
        </div>
      </div>
      <div class="feedtoptextcontainer" #feedtop (tap)="goSeeProfile(j)"> <!-- (tap)='contractItem(i)'-->
        <div class="imageparent">
          <img class="postprofilepic" src="{{j.profilepic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">@{{j.username}}</h4><br>
          <!--<h4 class="poststudio">Ed's Studio</h4>-->
        </div>
      </div>
      <div class="feedtoptextcontainertwo" #feedtoptwo (tap)='contractItem(i)'>
        <div class="postprofilelink">
          <div class="book">{{j.title}}</div>
        </div>
      </div>
      <img class="imageposttwo" #imagepost src="{{j.url}}">
      <div class='caption' #caption>
        {{j.caption}}
      <br>
      </div>
     </ion-item>
   </ion-list>
   <!--<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
   </ion-infinite-scroll>-->
  </div>


  <div class ='contentone classeslist' [@moveList]='moveState' #classeslist>
   <ion-list no-padding>
     <ion-item class="changepadding" *ngFor="let j of classesListArray ; let i = index" id='{{i}}' #feedstyle2 text-wrap>
      <div class="flex" (tap)='expandItem2(i)' #flex2>
        <div class="nonzoomimage">
          <img class="imagepost" src="{{j.url}}">
        </div>
        <div class="descholder">
          <div class='description'>{{j.title}}</div>
          <div class='link'>{{j.date}}</div>
        </div>
        <div class="priceholder">
          <div class='description'>${{j.price}}</div>
        </div>
      </div>
      <div class="feedtoptextcontainer" #feedtop2 (tap)="goSeeProfile(j)"> <!-- (tap)='contractItem(i)'-->
        <div class="imageparent">
          <img class="postprofilepic" src="{{j.profilepic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">@{{j.username}}</h4><br>
          <!--<h4 class="poststudio">Ed's Studio</h4>-->
        </div>
      </div>
      <div class="feedtoptextcontainertwo" #feedtop2two (tap)='contractItem2(i)'>
        <div class="postprofilelink">
          <div class="book">{{j.title}}</div>
        </div>
      </div>
      <img class="imageposttwo" #imagepost2 src="{{j.url}}">
      <div class='caption' #caption2>
        {{j.caption}}
      <br>
      </div>
     </ion-item>
   </ion-list>
   <!--<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
   </ion-infinite-scroll>-->
  </div>

  <div class ='contentone productslist' [@moveList]='moveState' #productslist>
   <ion-list no-padding>
     <ion-item class="changepadding" *ngFor="let j of productListArray ; let i = index" id='{{i}}' #feedstyle3 text-wrap>
      <div class="flex" (tap)='expandItem3(i)' #flex3>
        <div class="nonzoomimage">
          <img class="imagepost" src="{{j.url}}">
        </div>
        <div class="descholder">
          <div class='description'>{{j.title}}</div>
        </div>
        <div class="priceholder">
          <div class='description'>${{j.price}}</div>
        </div>
      </div>
      <div class="feedtoptextcontainer" #feedtop3 (tap)="goSeeProfile(j)"> <!-- (tap)='contractItem(i)'-->
        <div class="imageparent">
          <img class="postprofilepic" src="{{j.profilepic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">@{{j.username}}</h4><br>
          <!--<h4 class="poststudio">Ed's Studio</h4>-->
        </div>
      </div>
      <div class="feedtoptextcontainertwo" #feedtop3two (tap)='contractItem3(i)'>
        <div class="postprofilelink">
          <div class="book">{{j.title}}</div>
        </div>
      </div>
      <img class="imageposttwo" #imagepost3 src="{{j.url}}">
      <div class='caption' #caption3>
        {{j.caption}}
      <br>
      </div>
     </ion-item>
   </ion-list>
   <!--<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
   </ion-infinite-scroll>-->
  </div>
</div>

<ion-fab bottom center >
  <button ion-fab></button>
  <ion-fab-list side="right">
    <button class="textsizebutton" (tap)='tappedPost()' ion-fab>Post</button>
  </ion-fab-list>
  <ion-fab-list side="left">
    <button class="textsizebutton" (tap)='tappedEmergency()' ion-fab><ion-icon name="alarm"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</ion-content>
