<ion-header> <!--(swipeRight)="toProfile()">-->
  <ion-item class="itemadspace" [@slideDown]="downState" no-padding no-lines>
  <div class="stylistview">
    <button class="stylistviewbutton" (tap)="switchView()" ion-button color="secondary">Stylist View</button>
  </div>
    <!--<h3 class="feedtitle">User Feed</h3>-->
  </ion-item>
  
  <div class="clickme" (tap)="toolClicked($event)">
    <ion-toolbar [@toolSlide]="toolbarState" color="black" id="iontoolbar">
      <ion-icon class='custom-icon' name="play"></ion-icon>
      <button #changeText class="all toolbarstyle" (tap)="dropDown()">Availability</button><ion-icon class='down-icon' name="arrow-down"></ion-icon>

      <button #promos class="promos toolbarstyle" (tap)="closeMenuP()">Promos</button>
      <button #weekly class="weekly toolbarstyle" (tap)="closeMenu()">Weekly-Deals</button>
    </ion-toolbar>
  </div>

  <ul [@show]="showDropDown" class="dropdown">
    <li (tap)="dropDownA()">Availability</li>
    <li (tap)="dropDownD()">Distance</li>
    <li (tap)="dropDownP()">Price</li>
    <li (tap)="dropDownR()">Rating</li>
  </ul>

  <ul [@showHeight]="showDropDownHeight" class="dropdowntwo">
    <li (tap)="dropDownA()">Availability</li>
    <li (tap)="dropDownD()">Distance</li>
    <li (tap)="dropDownP()">Price</li>
    <li (tap)="dropDownR()">Rating</li>
  </ul>
</ion-header>

<ion-content no-padding (ionScroll)="scrollHandler($event)">
<div> <!--(swipeRight)="toProfile()"-->
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <div class ='contentone' #contentone [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let i of items" (tap)="gotoProfile()" no-padding no-lines>
      <div class="feedtoptextcontainer">
        <div class="imageparent">
          <img class="postprofilepic" src="{{i.url}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">{{i.username}}</h4><br>
          <h4 class="poststudio">Ed's Studio</h4>
        </div>
        <div class="postprofilelink">
          <div class="book">{{i.title}}<!--</div><div style="display: inline-block">@edbundyhair--></div>
        </div>
      </div>
      <img class="imagepost" src="{{i.url}}">
      <div class='caption'>
        {{i.caption}}
      </div>
      <br>
     </ion-item> 
   </ion-list>
   <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="show">
      <ion-infinite-scroll-content 
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
        threshold="1%">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <div class ='availability contentone' #availability [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let z of availabilities" no-padding (tap)="presentProfileModal(z.salon, z.time);">
      <div class="feedtoptextcontainer">
        <div class="imageparent">
          <img class="postprofilepic" src="{{z.pic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">{{z.salon}}</h4><br>
          <h4 class="poststudio">{{z.time}}</h4>
        </div>
      </div>
      <!--<img class="imagepost" src="{{i}}">-->
     </ion-item>
   </ion-list>
  </div>

  <div class ='distance contentone' #distance [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let z of distances" no-padding>
      <div class="feedtoptextcontainer">
        <div class="imageparent">
          <img class="postprofilepic" src="{{z.pic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">{{z.salon}}</h4><br>
          <h4 class="poststudio">{{z.distance}} mi</h4>
        </div>
      </div>
      <!--<img class="imagepost" src="{{i}}">-->
     </ion-item>
   </ion-list>
  </div>

  <div class ='ratings contentone' #ratings [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let a of rating" no-padding>
      <div class="feedtoptextcontainer">
        <div class="imageparent">
          <img class="postprofilepic" src="{{a.pic}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">{{a.salon}}</h4><br>
          <h4 class="poststudio">{{a.time}}</h4>
        </div>
      </div>
      <!--<img class="imagepost" src="{{i}}">-->
     </ion-item>
   </ion-list>
  </div>

  <div class ='price contentone' #price [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let a of pricesArray" no-padding>
      <div class="feedtoptextcontainer">
        <div class="imageparent">
          <img class="postprofilepic" src="{{a.picURL}}">
        </div>
        <div class="usernamecontainer">
          <h4 class="postusername">{{a.username}}</h4><br>
          <h4 class="poststudio">{{a.price}}</h4>
        </div>
      </div>
      <!--<img class="imagepost" src="{{i}}">-->
     </ion-item>
   </ion-list>
  </div>

  <div class ='weeklydeals contentone' #weeklydeals [@moveList]='moveState'>
   <ion-list class="marginstatus" no-padding>
     <ion-item *ngFor="let a of weeklydeal" no-padding>
      <div class="feedtoptextcontainer">
        <div class="usernamecontainer">
          <h4 class="postusername">{{a.pic}}</h4><br>
          <h4 class="poststudio">{{a.salon}}</h4>
        </div>
        <h4 class="deal">{{a.time}}</h4>
      </div>
      <!--<img class="imagepost" src="{{i}}">-->
     </ion-item>
   </ion-list>
  </div>
</div>
</ion-content>