page-sign-up {
	ion-content{
		background-image: url('../../assets/purpleHairBG.png');
    background-repeat: no-repeat;
		background-size:cover;

		.stylistview {
			text-align: right;
		}

		.signup {
			text-align: center;
			color: map-get($colors, tertiary);
		}

		ion-label {
			text-align: center;
			color: white;
		}

		.labelz {
			float: left;
		}

		#labelone {
			position: relative;
			left: 32%;
		}

		#labeltwo {
			position: relative;
			left: 45%;
		}

		ion-input {
			position: relative;
			width:220px;
		  border: 0;
		  outline: 0;
		  background: transparent;
		  border-bottom: 1px solid white;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  color: white;
		}

		.next {
			margin-top: 15%;
			width: 80%;
		}

		.moveleft {
			left: 5px;
		}

		.moveleftuser {
			left: 2px;
		}

		p {
			text-align: center;
			position: relative;
			top: -1%;
			color: white;
		}

		.stylistviewbutton {
			width:23%;
			font-size: 12px;
		}
	}
}
