page-sign-up {
	ion-content{
		background-image: url('../../assets/purpleHairBG.png');
    background-repeat: no-repeat;
		background-size:cover;

		.stylistview {
			text-align: right;
		}

		.gimagecont {
			max-width: 32px;
			display: inline-block;
			margin: 0px 10px 0px 10px;
		}

		.fbimagecont {
			max-width: 32px;
			display: inline-block;
			margin: 0px 10px 0px 10px;
		}

		.signup {
			text-align: center;
			color: map-get($colors, tertiary);
		}

		ion-label {
			text-align: center;
			color: white;
		}

		.label-ios[stacked] {
		  margin-bottom: 0px;
		  font-size: 1.2rem;
		}

		.labelz {
			float: left;
		}

		.or {
			text-align: center;
			width: 100%;
			color: map-get($colors, tertiary);
			font-weight: 900;
			font-size: 14px;
		}

		.oauth {
			display: flex;
			width: 100%;
			justify-content: center;
		}

		#labelone {
			display: inline-block;
		}

		#labeltwo {
			display: inline-block;
			text-align: center;
		}

		#labelstacktwo {
			padding-left: 10px;
		}

		.flex {
			display: flex;
			justify-content: center;
		}

		ion-input {
			position: relative;
			width:220px;
		  border: 0;
		  outline: 0;
		  background: transparent;
		  border-bottom: 1px solid white;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  color: white;
		}

		.next {
			margin-top: 5%;
			width: 80%;
		}

		.moveleft {
			left: 5px;
		}

		.moveleftuser {
			left: 2px;
		}

		p {
			text-align: center;
			position: relative;
			top: -10px;
			color: white;
		}

		.stylistviewbutton {
			width:23%;
			font-size: 12px;
		}
	}
}
